@model procesos_app.Models.MotherOfModels

@{
    ViewBag.Title = "Asignar";
}


<div class="row">
    <h3>Creación de Secciones</h3>
    <hr />
</div>

<div class="row">
    <div class="form-group">
        @Html.Label("Id Seccion", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Sections.Id , new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Tipo de Seccion", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Sections.SecType, new { @class = "form-control" })
            @*Implementar dropdow estatico ( TEORIA LAB )*@
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Codigo Materia", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Sections.SubjectId, new { @class = "form-control" })
            @* Debe ser una lista OJO! NEED TO FIX ooo Bregale un AJAX! para que se llene
                el nombre justo escribir el codigo*@

        </div>
    </div>
    <div class="form-group">
        @Html.Label("Nombre Materia", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Sections.Subject, new { @class = "form-control" })
            @* Debe ser una lista OJO! NEED TO FIX *@
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Aula", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Sections.ClassRoom, new { @class = "form-control" })
            @* Debe ser una lista OJO! NEED TO FIX *@
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Horario", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Sections.Schedule, new { @class = "form-control" })
            @*Implementar dropdownlist*@
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Trimestre", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Sections.Trimester, new { @class = "form-control" })
            @*Implementar dropdownlist y verificar que sea un List*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <br>
            <input type="submit" class="btn btn-primary" value="Guardar" />
            @Html.ActionLink("Regresar", "Index", "Home", new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

