<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <title>Procesos Intec</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .colorBg {
            color: #ffffff;
            /*background: #000000*/
        }

        .BgColor {
            /*background: #ffffff;*/
            color: #000000
        }

        .colorBg {
            background-color: #404040;
            color: #FFF;
        }

        .BgColor {
            color: #404040;
            background-color: #FFF;
        }

        .section-title-lyt {
            padding-left: 15px;
            padding-top: 20px;
            font-weight: 100;
            margin: 10px;
        }

        .btn {
            border: 0px;
            font-weight: 100;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    </style>

</head>
<body class="colorBg">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
         

            <div class="navbar-header">              
                <a href="">
                    <img class="logo" src="~/Content/images/logo_top.png">
                </a>
            </div>

            <div class="navbar-collapse collapse">                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div>
        <h3 class="colorBg section-title-lyt"> Opciones</h3>
    </div>

    <div class="col-md-2 colorBg">
        @Html.ActionLink("Usuario", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn colorBg" })<br />
        @Html.ActionLink("Area", "Index", "Areas", routeValues: null, htmlAttributes: new { @class = "btn colorBg" })<br />
        @Html.ActionLink("Materia", "Index", "Subjects", routeValues: null, htmlAttributes: new { @class = "btn colorBg" })<br />
    </div>

        <h3 class="BgColor">Opciones</h3>
    <div class="col-md-2 colorBg">
        <input class="btn colorBg" value="Registrar Asignatura" /><br />
        <input class="btn colorBg" value="Revision" /><br />
        <input class="btn colorBg" value="Asignar" /><br />
        

    </div>

    <div class="col-md-10 BgColor" id="Contenedor">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer></footer>
        </div>
    </div>
       
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
