@model procesos_app.Models.Subject

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutRegistro.cshtml";
}
@Scripts.Render("~/bundles/jquery")


<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Subject</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>



        

        <div class="form-group">
            @Html.LabelFor(model => model.QtyCredits, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtyCredits, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QtyCredits, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreRequisitCredits, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreRequisitCredits, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PreRequisitCredits, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Area a la que pertenece", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="area-list"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Materia Prerequisito", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="subjects-list">
                    <option value=NULL></option>
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit-subject" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $(document).ready(function () {
        // seeding areas dropdown
        var _areas = [];
        $.ajax({
            type: "get",
            dataType: "json",
            url: '/api/subjects/getAreas',
            success: function (data) {
                //console.log(data);
                $.each(data, function (i, item) {

                    var option = '<option value=' + item.id + '>' + item.name + '</option>'
                    _areas.push(option);

                });
                $('#area-list').append(_areas.join(''));
            }
        });
        // seeding subjects dropdown
        var _subjects = [];
        $.ajax({
            type: "get",
            dataType: "json",
            url: '/api/subjects/getmaterias',
            success: function (data) {
                //console.log(data);
                $.each(data, function (i, item) {

                    var option = '<option value=' + item.id + '>' + item.name + '</option>'
                    _subjects.push(option);

                });
                $('#subjects-list').append(_subjects.join(''));
            }
        });

        //posting in method
        function SaveModel() {
            $.ajax({
            url: '@Url.Action("Create","Subjects")',
            type: 'POST',
            contentType: 'application/json',
            dataType: "json",
            success: function (data) {
                console.log(data);
            }
        });
        }

        $("submit-subject").click(function () { SaveModel(); });


    });






</script>