
@{
    ViewBag.Title = "Publicacion Mediotermino";
    Layout = "~/Views/Shared/_LayoutPubMT.cshtml";
}



<div>
    <h3 class="Title">PUBLICACION DE MEDIOTERMINO</h3>
</div>

<div>
    <h2 class="subtitle1">
        @foreach (var item in Model.NombreTrimestre)
            {
            @item.Name;
            }
    </h2>
</div>

<table>
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Seccion</th>
            <th>Asignatura</th>
            <th>Inscritos</th>          
            <th>Calificacion Base</th>
            <th>@*EN BLANCO*@</th>
        </tr>    
    </thead>
    <tbody>
        @foreach (var item in Model.ListaSection)
        {
            <tr>
                <td>@item.SubjectId</td>
                <td>@item.Name</td>
                <td>@item.Subject</td>
                <td>@*Un Count*@</td>
                <td>@*Textbox Editable*@</td>
                <td>
                    <a id="@item.Id" href=""></a>
                </td>
            </tr>
        }
    </tbody>
</table>


